_depr

_stuff/
grafana/data/plugins/
prometheus/prometheus-data

jobs/python_TelegramChannels/

logs/
dataBase/_sql/seed_data/

jobs/java_*

__pycache__/

.idea

*.docx
*.drawio
.env
superset_config_local.py
local_*.conf

**/target/**
!**/target/scala-*
**/target/scala-*/**/
!**/target/scala-*/*.jar