#directories

base/
datanode/
historyserver/
logs/
namenode/
nginx/
nodemanager/
plugins/
resourcemanager/
submit/

jobs/java_*

__pycache__/

*.idea
target
test

#types

*.env
*.yaml

#files

## !
config.conf
##

deleteData.py
.gitignore
Dockerfile
Makefile
requirements.txt
postgresql-42.7.4.jar