services:
  app-postgres:
      image: postgres:17
      container_name: app-postgres
      volumes:
        - app-postgres-db-volume:/var/lib/postgresql/data
      ports:
        - "${PG_PORT}:5432"
      environment:
        POSTGRES_USER: ${PG_USER}
        POSTGRES_PASSWORD: ${PG_PASS}
        POSTGRES_DB: ${PG_DB}
      healthcheck:
        test: ["CMD", "pg_isready", "-U", "${PG_USER}", "-d", "${PG_DB}"]
        interval: 10s
        retries: 5
        start_period: 5s

  flyway:
    image: flyway/flyway
    command: -connectRetries=10 migrate
    environment:
      FLYWAY_URL: jdbc:postgresql://app-postgres:5432/${PG_DB}
      FLYWAY_USER: ${PG_USER}
      FLYWAY_PASSWORD: ${PG_PASS}
    volumes:
      - ../../dataBase/storage:/flyway/sql
    depends_on:
      app-postgres:
        condition: service_healthy

  dbt:
    image: ghcr.io/dbt-labs/dbt-postgres:1.8.2
    working_dir: /usr/app
    entrypoint: ["/bin/bash", "-c"]
    command: >
      "dbt run --full-refresh"
    environment:
      DBT_HOST: app-postgres
      DBT_USER: ${PG_USER}
      DBT_PASSWORD: ${PG_PASS}
      DBT_DBNAME: ${PG_DB}
      DBT_SEND_ANONYMOUS_USAGE_STATS: "false"
    volumes:
      - ../../database/dbt:/usr/app
      - ../../database/dbt/profiles.yml:/root/.dbt/profiles.yml
    depends_on:
      app-postgres:
        condition: service_healthy
      flyway:
        condition: service_completed_successfully

  postgres-exporter:
    image: bitnamilegacy/postgres-exporter:latest
    environment:
      DATA_SOURCE_NAME: "postgresql://${PG_USER}:${PG_PASS}@app-postgres:5432/${PG_DB}?sslmode=disable"
    ports:
      - "${PG_EXPORTER_PORT}:9187"
    depends_on:
      app-postgres:
        condition: service_healthy

volumes:
  app-postgres-db-volume: